.App-header h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

header {
  text-align: center;
}
header img {
  width: 100%;
  max-width: 400px;
}

header p {
  margin-top: 10px;
  margin-bottom: 20px;
}

.box {
  text-align: center;
  border: 2px solid black;
  width: 88%;
  max-width: 500px;
  margin: auto;
  margin-bottom: 10px;
  background-color: chocolate;
  color: black;
  font-size: 24px;
  box-shadow: 6px 6px 2px 1px rgba(100, 42, 90, 0.8);
  padding-bottom: 20px;
}

.fancy {
  padding: 50px;
}

.blue {
  background-color: lightblue;
}
